@font-face {
    font-family: 'pixelMplus12';
    src: url("PixelMplus12-Regular.ttf") format('truetype');
}

body {
    background-color: #f5f5f5;
    font-family: "pixelMplus12";
    margin: auto;
    width: 100vw;
}

.size {
    display: inline-block;
    width: 100vw;
}

.number {
    display: inline-block;
    width: 50vw;
    height: 25vw;
    margin-left: 24.5vw;
    margin-bottom: 7vw;
    text-align: center;
}

.change {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    line-height: 15vw;
    margin-top: 7.5vw;
    vertical-align: middle;
    background-color: #d23c0a;
    border: 0.3vw  #000 solid;
}

.change p {
    position: absolute;
    top: 0vw;
    left: 45vw;
    display: inline-block;
    vertical-align: middle;
    font-size: 64px;
    color: white;
}

.nazo {
    width: 100vw;
}

img {
    height: 90vw;
    width: 90vw;
    border: 5vw #d23c0a solid;
}

.creator {
    text-align: center;
}

.creator a {
    color: #00e;
}

.creator p {
    font-size: 32px;
}

form {
    text-align: center;
}

.ans {
    display: inline-block;
    font-family: "pixelMplus12";
    font-size: 24px;
    width: 60vw;
    height: 5.2vw;
    border: 3px #000 solid;
    padding: 2vw;
    margin-bottom: 5vw;
}

.send {
    display: inline-block;
    background-color: #d23c0a;
    color: white;
    font-family: "pixelMplus12";
    font-size: 24px;
    width: 15vw;
    height: 10vw;
    border: 3px #000 solid;
    padding: 1vw;
    margin-bottom: 5vw;
}

.btn {
    display: inline-block;
    text-align: center;
    margin-left: 10vw;
}

.command a {
    text-decoration: none;
}

.btn p {
    color: white;
}

.end {
    background-color: #242323;
    width: 20vw;
    height: 7vw;
    border: 3px #000 solid;
    margin-right: 2vw;
    margin-bottom: 5vw;
}

.hint {
    background-color: #1e5aaa;
    width: 46vw;
    height: 7vw;
    border: 3px #000 solid;
    margin-right: 5vw;
    margin-bottom: 5vw;
}